#readme:before {
	display: block;
	content: ' ';
	margin-top: -75px;
	height: 75px;
	visibility: hidden;
}
.bg-img {
	background-image: url('../assets/chicago.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 0px;
}
.jumbotron {
	margin-bottom: 0px;
}
#readmetext {
	padding: 1em;
	padding-bottom: 0em;
	border-radius: 25px;
	position: relative;
	top: 0.5em;
	bottom: 5em;
	background: rgb(204, 204, 204);
	background: rgba(0, 0, 0, 0.4);
}
#readmetext p {
	color: white;
	text-shadow: 2px 2px #000000;
	font-style: helvatica nue;
}
